@{
    ViewData["Title"] = "Sem Permissão";
}

<h1 class="text-center">ACESSO NEGADO!</h1>

<p class="text-center">
    Contate o Administrador do seu sistema!<br>
    <a asp-controller="Emprestimo" asp-action="Listagem" class="btn btn-primary">Ok</a>
</p>